*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

header{
	width: 100%; 
	position: relative;
	overflow: hidden;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}


nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.6rem;
}

/* .brand{
	font-size: 5rem;
	font-weight: 300;
}

.brand span{
	color: orange;
	text-decoration: none;
} */

.logo{
	width: 120px;
	cursor: pointer;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
  text-transform: uppercase;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:hover{
	font-weight: bold;
}

.active{
	font-weight: bold;
}
